*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
:root {
    --primary-color: #eff4fd;
    --secondary-color: #212121;
}
.dark-theme{
    --primary-color: #000106;
    --secondary-color: #fff;
}




#moon{
    width: 15px;
    cursor: pointer;
    opacity: 100%;
}





nav ul{
    flex: 1;
    text-align: right;
}

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: var(--primary-color);
    position: relative;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 100px;
    cursor: pointer;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: bold;
}

nav ul li a:hover{
    color: rgb(255, 208, 0);
}

.detel{
    margin-left: 10%;
    margin-top: 18%;
    
}


.detel h1{
    font-size: 60px;
    color: var(--secondary-color);
    margin-bottom: 20px;
}

span{
    color: orange;
    
}

.detel p{
    color: var(--secondary-color);
    line-height: 22px;
}

.detel a{
    background: var(--secondary-color);
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: var(--primary-color);
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s, top 1s;
}

.images:hover .shape{
    bottom: 40px;
}

.images:hover .girl{
    left: 45%;
}


.Section2{
    height: 800px;
    background: #000106;
    display: block;
    margin-top: 365px;
    
}

.Section2 h2{
    text-align: center;
    color: white;
    margin-top: ;
    margin-bottom: 20px;
    font-size: 50px;
}

.Section2 p{
    text-align: center;
    color: white;
    margin
    margin-bottom: 20px;
}
